<p id="notice"><%= notice %></p>

<h1>Listing Notes</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Importance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.content %></td>
        <td><%= note.importance %></td>
        <td><%= link_to 'Show', note_book_note_path(@note_book, note) %></td>
        <td><%= link_to 'Edit', edit_note_book_note_path(@note_book, note) %></td>
        <td><%= link_to 'Destroy', note_book_note_path(@note_book, note), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_book_note_path(@note_book) %>
