<%= form_for(@note_book) do |f| %>
  <% if @note_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note_book.errors.count, "error") %> prohibited this note_book from being saved:</h2>

      <ul>
      <% @note_book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :about %><br>
    <%= f.text_field :about %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
