<% provide(:title, "View Notebook") %>
<p id="notice" class="notice-msg"><%= notice %></p>

<header>
  <h1><%= @note_book.title %><i>:<%= @note_book.about %><i></h1>
</header>

<div class="button-group">
  <%= link_to 'Edit', edit_note_book_path(@note_book), class: "button grey-blue-bg"%>
  <%= link_to 'Back', note_books_path, class: "button grey-blue-bg" %>
  <%= link_to 'Add note', new_note_book_note_path(@note_book), class: "button logo-color-bg" %>
</div>

<div class="container">

  <% @note_book.notes.sort_by{ |note| note.importance }.reverse.each do |note| %>
    <div class="note">
      <div class="note-content">
	<pre><%= note.content %></pre>
      </div>
      <div class="lower-left">
	<b>Importance: <%= note.importance%></b>
      </div>
      <div class="lower-right">
	<%= link_to '', edit_note_book_note_path(@note_book, note), class: "icon-edit sm-button skin-yellow-bg" %>
	<%= link_to '', note_book_note_path(@note_book, note), method: :delete, data: { confirm: 'Are you sure?' }, class: "icon-destroy sm-button skin-yellow-bg"%>
      </div>
    </div>
  <% end %>
</div>
